body {
    background-color: white;
}

#cityName {
    width: 80%;
}

#searchRow {
    display: flex;

}

.row{
    padding: 20px;
}

#nameDate{
    display: flex;

}

#fiveDay{
    display: flex;
}

.imageIcon{
    width: 50px;
    height: auto;
}

.card{
    margin: 5px;
    padding: 5px;
    background-color: blue;
    color: white;
}

.cityClick{
    display: block;
    margin: 5px;
}

#searchDiv{
    background-color: rgb(238, 231, 231);
}